    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");



/* Remove default margin */
body {
  margin: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#allProducts{
  background: linear-gradient(215deg, rgba(23, 22, 24, 0.343) , rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.3) , hsla(150, 36%, 59%, 0.238)),
                url('') center/cover no-repeat;
}


/* Product Card Container */
.product-card {
  
  position: relative;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(145deg, #1c1c1c, #333);
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.4s ease;
  color: #fff;
}

/* Glowing Border Animation */




.product-card:hover {
  transform: translateY(-100px) scale(1.02);
}

/* Product Image */
.product-image {
  width: 100%;
  height: 240px;
 
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

/* Product Information */
.product-info {
  padding: 15px 0;
}

.product-info h2 {
  font-size: 1.8em;
  margin: 10px 0;
  color: #ff6ec4;
}

.product-info p {
  font-size: 0.95em;
  color: #bbb;
}

/* Price Tag */
.price-tag {
  font-size: 1.6em;
  font-weight: bold;
  color: #ff6ec4;
  margin: 10px 0;
}

/* Button */
.add-to-cart {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1em;
  color: #333;
  background: #42e695;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.add-to-cart:hover {
  background: #30cfd0;
  color: #fff;
  transform: scale(1.08);
}


/* styling for scroll animation */
.box {

  background-color: lightblue;
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 0.5s, transform 0.5s;
}

.box.visible {
  opacity: 1;
  transform: translateY(0);
}